<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container text-center">
    <h1 class="text-center">Choose who You are?</h1>
    <div class="row">
        <div class="col text-center box">
            <a href="/registerorganization" class="btn btn-dark userbtn"><h2>Admin</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center box">
            <a href="/registerteacher" class="btn btn-dark userbtn"><h2>Teacher</h2></a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center box">
            <a href="/registerstudent" class="btn btn-dark userbtn"><h2>Student</h2></a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>